<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouting</title>
    <link rel="stylesheet" href="sytle.css">
</head>

<body>
    <div class="container">
        <img src="img/1752224661859.png" alt="logo">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non commodi amet tenetur, tempore libero illo incidunt est ratione aut, sunt dolores vitae? Praesentium voluptates debitis incidunt, possimus nostrum blanditiis repellendus maxime. Quisquam ratione possimus neque reiciendis porro voluptatibus veritatis repellat ad ut. Aperiam autem temporibus dolorem? Doloremque voluptates, ex culpa modi voluptate suscipit reiciendis error unde quaerat repellat quia eaque facilis nesciunt ratione odit enim temporibus blanditiis repellendus? Dolores enim provident debitis neque nisi? Recusandae, corrupti! Harum quidem voluptatibus tempora nostrum quam tenetur odio repellendus fuga? Cum, autem amet libero ex eius provident illum laborum neque corporis ullam, nulla necessitatibus.
    </div>
</body>

</html>